
<% if user_signed_in? %>
  <%= form_with(model: @user_book) do |form| %>
    <%= form.hidden_field :book_id, value: book.id %>
      <div class="dropdown">
      <% if user_book.persisted? %>
        <button class="btn btn-outline-success btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
         ✓ <%= human_readable_shelf(user_book.shelf) %>
        </button>
      <% else %>
        <button class="btn btn-success btn-lg dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Add this book
        </button>
      <% end %>
      <ul class="dropdown-menu">
        <li><%= form.button "Read", name: "user_book[shelf]", value: "read", class: "dropdown-item"%></li>
        <li><%= form.button "Want to Read", name: "user_book[shelf]", value: "want_to_read", class: "dropdown-item"%></li>
        <li><%= form.button "Reading", name: "user_book[shelf]", value: "reading", class: "dropdown-item"%></li>
      </ul>
    </div>
  <% end %>
  <% if user_book.persisted? %>
    <%= link_to "Remove Book", user_book, data: { "turbo-method": :delete }, class: "link-secondary" %>
    <%= render "rating", user_book: user_book %>
  <% end %>
<% else %>
  <%= link_to "Add Book", new_user_registration_path, class: "btn btn-success btn-lg" %>
<% end %>
