<div class="row mb-2">
  <div class="col-md-3 mb-4 px-5 text-center">
    <% if @book.image.attached? %>
    <%= image_tag(@book.image, class:"img-fluid rounded mb-3") %>
    <% else %>
    <%= image_tag("book-empty-cover.png", class:"img-fluid rounded mb-3") %>
    <% end %>
    <%= render "add_book_button", book: @book, user_book: @user_book %>
  </div>
  <div class="col-md-9">
    <strong class="d-inline-block mb-2 text-primary"><%= @book.genre %></strong>
    <h3 class="mb-0 fancy-font"><%= @book.title %></h3>
    <div class="mb-1 text-muted">by <%= @book.author %> </div>
    <% if @book.isbn %>
    <div class="mb-1 text-muted">Isbn <%= @book.isbn %> </div>
    <% end %>
    <hr>
    <div>
    <% @book.description.split("\n").each do |paragraph| %>
    <%= paragraph %>
    <br>
    <% end %>
  </div>
</div>
